body {
  margin: 0;
  min-width: 400px;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 200px;
  width: 50%;
  margin: auto;
  border: 2px solid rgb(190, 207, 175);
  background-color: rgb(231, 241, 137);
  cursor: pointer;
  transition: 0.5s;
}

.card-wrapper:hover {
  background-color: rgb(200, 214, 186);
  border-radius: 1rem;
}

.image-wrapper {
  display: flex;
  align-items: center;
  padding-left: 0.8rem;

  & img {
    height: 170px;
    width: 170px;
    object-fit: cover;
  }
}

.information-wrapper {
  position: relative;
  & p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-align: justify;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 3rem;
    padding-bottom: 0.8rem;
  }

  & h3 {
    margin: 0;
    padding-top: 1rem;
    padding-left: 0.8rem;
    color: brown;
  }

  & h4 {
    margin: 0;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: rgb(125, 134, 44);
  padding-left: 3rem;
  padding-right: 3rem;

  & h1 {
    margin: 0;
    color: brown;
    transform: rotate(6deg);
    font-size: 2.5rem;
    cursor: pointer;
  }

  & nav ul {
    list-style: none;
  }
  & nav ul li {
    display: flex;
    gap: 2rem;
  }

  & nav ul li a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }
}

header nav ul li a:hover {
  color: brown;
}

.item-details {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 40%;
  margin: auto;
  border: 2px solid rgb(190, 207, 175);
  border-radius: 1rem;
  background-color: rgb(231, 241, 137);
  padding: 1rem;

  & img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  & h1 {
    margin: 0;
    color: brown;
    font-size: 1.8rem;
    align-self: flex-start;
  }
  & h2,
  h3 {
    margin: 0;
    font-weight: normal;
    font-size: 1.1rem;
    align-self: flex-start;
  }
  & p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
  margin-top: 2rem;

  & .backTo-btn-wrapper {
    border: none;
    padding: 1rem;
    background-color: rgb(231, 241, 137);
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
  }
  & .delete-btn-wrapper {
    border: none;
    padding: 1rem;
    background-color: rgb(209, 34, 34);
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
  }
}

.submit-btn-wrapper {
  border: none;
  padding: 1rem;
  background-color: rgb(231, 241, 137);
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.backTo-btn-wrapper:hover {
  background-color: rgb(200, 214, 186);
}

.delete-btn-wrapper:hover {
  background-color: rgb(190, 77, 77);
}

.submit-btn-wrapper:hover {
  background-color: rgb(200, 214, 186);
}

.message-wrapper {
  width: 250px;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.form-wrapper {
  margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(190, 207, 175);
  background-color: rgb(231, 241, 137);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  width: 40%;
  margin: auto;

  & h1 {
    margin: 0;
    margin-bottom: 1rem;
    color: brown;
    font-size: 1.8rem;
  }

  & input {
    padding: 0.5rem;
    border: 2px solid rgb(190, 207, 175);
    border-radius: 5px;
    transition: 0.3s;
  }
  & input:hover {
    border: 2px solid brown;
  }
}

.next-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.left-arrow svg {
  cursor: pointer;
}
.right-arrow svg {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  header {
    & h1 {
      font-size: 1.8rem;
    }

    & nav ul li {
      gap: 1rem;
    }

    & nav ul li a {
      font-size: 0.8rem;
      text-align: center;
    }
  }
  form {
    & h1 {
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }
  }
  .buttons-wrapper {
    margin-top: 1rem;
    & .backTo-btn-wrapper {
      padding: 0.5rem;
      border-radius: 7px;
      font-size: 0.8rem;
    }
    & .delete-btn-wrapper {
      padding: 0.5rem;
      border-radius: 7px;
      font-size: 0.8rem;
    }
  }
  .submit-btn-wrapper {
    padding: 0.5rem;
    border-radius: 7px;
    font-size: 0.8rem;
  }
  .message-wrapper {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .item-wrapper {
    & img {
      height: 300px;
    }
    & h1 {
      font-size: 1.2rem;
    }
    & h2,
    h3 {
      font-size: 0.8rem;
    }
    & p {
      font-size: 0.9rem;
    }
  }
  .image-wrapper {
    padding-left: 0.5rem;
    & img {
      height: 120px;
      width: 120px;
    }
  }
  .information-wrapper {
    & h3 {
      font-size: 0.9rem;
    }
    & p {
      font-size: 0.7rem;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
    }
    & h4 {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    & h1 {
      font-size: 1.5rem;
    }

    & nav ul li {
      gap: 0.5rem;
    }

    & nav ul li a {
      font-size: 0.7rem;
    }

    & nav ul li a:nth-child(3) {
      display: none;
    }

    & nav ul li a:nth-child(4) {
      display: none;
    }
  }
  form {
    & h1 {
      margin-bottom: 0.7rem;
      font-size: 1.1rem;
    }
    & input {
      padding: 0.2rem;
    }
  }
  .buttons-wrapper {
    margin-top: 0.7rem;
    & .backTo-btn-wrapper {
      padding: 0.5rem;
      border-radius: 4px;
      font-size: 0.6rem;
    }
    & .delete-btn-wrapper {
      padding: 0.5rem;
      border-radius: 4px;
      font-size: 0.6rem;
    }
  }
  .submit-btn-wrapper {
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.6rem;
  }
  .message-wrapper {
    margin-top: 0.7rem;
    font-size: 0.8rem;
  }

  .item-wrapper {
    & img {
      height: 200px;
    }
    & h1 {
      font-size: 1rem;
    }
    & h2,
    h3 {
      font-size: 0.6rem;
    }
    & p {
      font-size: 0.7rem;
    }
  }
  .image-wrapper {
    padding-left: 0.5rem;
    & img {
      height: 100px;
      width: 100px;
    }
  }
  .information-wrapper {
    & h3 {
      font-size: 0.6rem;
    }
    & p {
      font-size: 0.5rem;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      line-height: 0.7rem;
    }
    & h4 {
      font-size: 0.5rem;
    }
  }
}
